<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">
  <ul class="list-unstyled">
    <li>
      <a routerLink="/create-obser" routerLinkActive="active">Create Observable</a>
    </li>
    <li>
      <a routerLink="/pattern" routerLinkActive="active">Pattern</a>
    </li>
    <li>
      <a routerLink="/request" routerLinkActive="active">Request</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
